


<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2> <app-helloworld>  </app-helloworld>
  <app-date> </app-date>
  </h2>

  <img width="300" alt="Mum Papa" src="E:/Pics/11-flower-wallpaper-w.jpg">

<!--
  <app-address-card name_input="DS " title_input="Software Engineer"></app-address-card> 

[user] the brackets show that take the member variable user and not the string-->
  
  <app-address-card [user]="user"></app-address-card>
  </div>

  <!-- <input type="text" [value]="inputText"> -->
  <input type="text" [(ngModel)]="inputText">     <!-- [( 2 way data binding-->

  <!-- [ One way data binding 
  [(  2 way data binding
  
  ( -> Data flowing from the view to the component)
  -->
  {{inputText}}